
@{
    ViewBag.Title = "GetDeck";
}

@*<p>@ViewBag.RawData</p>*@

<h2>Get a Deck of Cards</h2>

<form action="~/API/ViewCards" method="post">
    <input type="submit" placeholder="Draw 5 Cards" class="btn btn-primary"/>
</form>

