@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Deck of Cards</h1>
    <p class="lead">Using the Deck of Cards API, generate a deck of cards and draw 5 cards from that deck</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get a new Deck of Cards</h2>
        <p><a class="btn btn-primary" href="~/API/GetDeck">Generate new deck</a></p>
    </div>
</div>